<!--<!DOCTYPE html>-->
<!--Game TABLE-->
<!--<html lang="en">-->
<!--<link href="/static/css/style.css" rel="stylesheet" type="text/css">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Table</title>-->
<!--</head>-->
<!--<body style="background: grey">-->
<!--<div class="table">-->
<!--    <div class="card">-->
<!--        <div style="display: flex; justify-content: center;align-content: center; height: 100%">-->
<!--            <#&#45;&#45;            <div class="wrap" style="width: 500px; height: 500px;background: green">&ndash;&gt;-->
<!--            <#&#45;&#45;        ${card.suit}&ndash;&gt;-->
<!--            <#&#45;&#45;        ${card.nominal}&ndash;&gt;-->
<!--            <#&#45;&#45;        <img src="${card.img}" alt="${card.img}" style="height: 120px;width: 70px">&ndash;&gt;-->
<!--            <img src="/img/img_1.png" alt="lol">-->

<!--            <div class="card">-->

<!--                <#list deck as card>-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <img src="${card.img}" alt="${card.img}" style="height: 120px;width: 70px">-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </#list>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!--deck-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<link href="/static/css/style.css" rel="stylesheet" type="text/css">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Table</title>-->
<!--</head>-->
<!--<body style="background: grey">-->
<!--<a href="/web/cards/stop"><button>Stop</button></a>-->

<!--<div style="display: flex; justify-content: center;align-content: center; height: 100%">-->
<!--    <div class="wrap" style="width: 500px; height: 500px;background: green">-->
<!--        <div><a href="/web/cards/pick">-->
<!--            <img src="/img/img_1.png" alt="lol">-->
<!--        </a>-->
<!--        </div>-->
<!--        <div class="message">-->
<!--            <a style="padding-left: 50%">${message}</a>-->
<!--        </div>-->
<!--        <div style="position: absolute">-->
<!--            <#&#45;&#45;        ${card.suit}&ndash;&gt;-->
<!--            <#&#45;&#45;        ${card.nominal}&ndash;&gt;-->
<!--            <#&#45;&#45;        <img src="${card.img}" alt="${card.img}" style="height: 120px;width: 70px">&ndash;&gt;-->


<!--            <h3>${sum}</h3>-->
<!--            <#list delivery as card>-->
<!--            <ul style="float: left">-->
<!--                <li style="display: block">-->
<!--                    <img src="${card.img}" style="height: 70px; width: 35px">-->
<!--                </li>-->
<!--            </ul>-->
<!--        </#list>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!--deckpc-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<link href="/static/css/style.css" rel="stylesheet" type="text/css">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Table</title>-->
<!--</head>-->
<!--<body style="background: grey">-->
<!--<button ><a href="#">Refresh</a></button>-->

<!--<div style="display: flex; justify-content: center;align-content: center; height: 100%">-->
<!--    <div class="wrap" style="width: 500px; height: 500px;background: green">-->
<!--        <div><a href="#">-->
<!--            <img style=" justify-content: center; height: 120px;width: 70px" src="/img/img_1.png" alt="lol">-->
<!--        </a>-->
<!--        </div>-->
<!--        <div style="position: absolute">-->
<!--            <#&#45;&#45;        ${card.suit}&ndash;&gt;-->
<!--            <#&#45;&#45;        ${card.nominal}&ndash;&gt;-->
<!--            <#&#45;&#45;        <img src="${card.img}" alt="${card.img}" style="height: 120px;width: 70px">&ndash;&gt;-->


<!--            <h3>${sum2}</h3>-->
<!--            <#list pcdelivery as card>-->
<!--            <ul style="float: left">-->
<!--                <li style="display: block">-->
<!--                    <img src="${card.img}" style="height: 70px; width: 35px">-->
<!--                </li>-->
<!--            </ul>-->
<!--        </#list>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="message">-->
<!--    <a style="padding-left: 50%">${ult}</a>-->
<!--</div>-->
<!--<div style="position: absolute">-->
<!--    <#&#45;&#45;        ${card.suit}&ndash;&gt;-->
<!--    <#&#45;&#45;        ${card.nominal}&ndash;&gt;-->
<!--    <#&#45;&#45;        <img src="${card.img}" alt="${card.img}" style="height: 120px;width: 70px">&ndash;&gt;-->

<!--    <div class="messagePc">-->
<!--        <#&#45;&#45;            <a style="padding-left: 50%">${ult}</a>&ndash;&gt;-->
<!--    </div>-->

<!--    <h3>${sum}</h3>-->
<!--    <#list delivery as card>-->
<!--    <ul style="float: left">-->
<!--        <li style="display: block">-->
<!--            <img src="${card.img}" style="height: 70px; width: 35px">-->
<!--        </li>-->
<!--    </ul>-->
<!--</#list>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
